*{
    margin:0;
}
body{
    font-family: 'Merriweather',serif;
}
.heading{
    font-family: 'Sacramento',cursive;
    font-size: 5rem;
    color: #66BFBF;
}
.top-container{
    background-color: #E4F9F5;
    text-align: center;
    position: relative;
    padding-top: 50px;
}
.cloud2{
    position: absolute;
}
.cloud1{
    margin-left: 300px;
}
.para{
    margin-top: 10px;
    font-family: 'Monsterrate', sans-serif;
    font-weight:normal;
    color:#66BFBF;
    font-size:30px;
}
.intro{
    margin-top:150px;
}
.final{
    height:auto;
    width: 900px;
    margin-top:50px;
}
.middle-container{
    text-align: center;
}
.bottomm-container{
    text-align: center;
}
h2{
    color:#66BFBF;
    font-family: 'Monsterrate', sans-serif;
}
h3{
    color:#11999E;
    font-family: 'Monsterrate', sans-serif;
}
.footer-link{
    color:#11999E;
}
.skill-row{
    width:50%;
    margin:60px auto 60px auto;
    text-align: left;
}
.profile{
    margin:0 auto;
   
}
.person-profile{
    height: auto;
    width: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.icon1{
    float:left;
    width:25%;
    margin-right: 30px;
}
.icon2
{
    width:25%;
    float:right;
    margin-left: 30px;
}
p{
    line-height: 2;
}
.profile{
    width:35%;
   margin-top:50px;
}
.para1{
    font-size: 15px;
}
.clear1{
    font-size: 15px;
}
.clear2{
    font-size: 15px;
    
}
.clear3{
    font-size: 15px;
    margin-top: 60px;
}
.clear4{
    font-size: 15px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 30px;
}
 .bottom-container{
    text-align: center;
    background-color: #66BFBF;
    margin-top: 12px;
 }
 .footer-link{
    margin-top:50px;
    font-size: 15px;
    font-family: 'Monsterrat', serif;
    text-decoration: none;
 }
 .line{
    border: dotted #66BFBF 6px;
    border-bottom: none;
    width:4%;
    margin:100px auto;
 }
 .git{
    position: relative;
    bottom:160px;
    left:270px;
 }
 /* Work html */

 .dice_game{
    height:auto;
    width:500px;
    border:solid 3px #3AB0FF;
   
 }
 .proj_container1{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    font-size: 16px;
    margin-bottom: 105px;
    
    padding:65px;
    background-color: #CDF0EA;
    border:solid #11999E 3px;
    border-radius: 13px;
 }
 
 .icons_first{
    margin-top:10px;
    margin-bottom: 10px;
 }
 
 .icon_code{
    margin-right: 15px;
    position: absolute;
 }
 .icon_git{
    margin-left:45px;
    position: absolute;
 }
 .description{
    margin-top:55px;
 }
 .icon_git:hover{
    background-color: #11999E;
    cursor:pointer;
 }
 .icon_code:hover{
    background-color: #11999E;
    cursor: pointer;
 }
 .dice_heading{
    font-size: 24px;
 }
 .proj_container2{
    margin-left: 50px;
    margin-bottom: 105px;
    margin-right: 50px;
    padding: 65px;
    margin-top: 105px;
    font-size: 16px;
    border:solid #11999E 3px;
    border-radius: 13px;


    background-color: #F9F9F9;
 }
 .proj_container3{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 105px;
    margin-top: 105px;
    padding: 65px;
    font-size: 16px;
    background-color: #CDF0EA;
    border:solid #11999E 3px;

    border-radius: 13px;

 }

 /* About Me */

 .About_heading{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 26px;
 }
 .pfp_img{
    height:auto;
    width:400px;
 }
 .para_AboutMe
 {
    margin-top: 50px;
    font-size: 16px;
 }
 .description_aboutMe
 {
    background-color: #F6F6F6;
    padding: 90px;
    border-radius: 13px;
    font-family: 'Sacramento',cursive;
    font-size: 10px;
 }
 .image_aboutMe
 {
    background-color: #F6F6F6;
    padding: 15px;
    border-radius: 13px;
 }
.img_des{
    display: flex;
    margin:120px;
    gap:15px;
}
.heading2_aboutme{
    color:darkgray;
}
 
   
 
 